<br />
<br />
<div class="alert alert-info" role="alert">
  This is a simple simulation of <b>The Game of Life</b>. It is a cellular
  automaton devised by the British mathematician John Horton Conway in 1970.
  <a
    target="_blank"
    rel="noopener noreferrer"
    href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life"
    class="alert-link"
    >Here</a
  >
  you can find more information.
</div>
<br />
<br />
<div class="row">
  <div class="col-2"></div>
  <div class="col-2">
    Cell Pad Size:
    <input type="number" [(ngModel)]="sizeCellPad" size="2" width="20" />
  </div>
  <div class="col-2">
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="resizeCellPad()"
    >
      Resize Cell Pad
    </button>
  </div>
  <div class="col-2">
    <button
      type="button"
      class="btn btn-outline-info"
      (click)="injectRandomLife()"
    >
      Inject Random Life
    </button>
  </div>
  <div class="col-2">
    <button
      type="button"
      class="btn btn-outline-success"
      (click)="startEvolution()"
    >
      {{ evolutionIsRunning ? "Stop Evolution" : "Start Evolution" }}
    </button>
  </div>
  <div class="col-2"></div>
</div>
<br />
