<br />
<br />
<div class="row">
  <div class="col-2"></div>
  <div class="col-3">
    Cell Pad Size:
    <input type="number" [(ngModel)]="sizeCellPad" />
  </div>
  <div class="col-2">
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="resizeCellPad()"
    >
      Resize Cell Pad
    </button>
  </div>
  <div class="col-2">
    <button
      type="button"
      class="btn btn-outline-success"
      (click)="startEvolution()"
    >
      {{ evolutionIsRunning ? "Stop Evolution" : "Start Evolution" }}
    </button>
  </div>
  <div class="col-3"></div>
</div>
<br />
