.cell {
  background-color: #ccf2ff;
  color: #ccf2ff;
  width: 30px;
  height: 30px;
  margin: 5px;
  border: 2px solid #0086b3;
  border-radius: 5px;
}
.living {
  background-color: #288625;
  color: #288625;
  border: 2px solid #71c36e;
}

.cell:hover {
  background-color: #0096cc;
  color: #0096cc;
}

.row {
  display: inline-block;
}

.playground {
  text-align: center;
}
