<app-controlpanel
  (startEvolutionClicked)="onStartEvolutionClicked($event)"
  (randomLifeClicked)="onRandomLifeClicked()"
  (resizeClicked)="onResizeClicked($event)"
  [evolutionIsRunning]="evolutionIsRunning"
></app-controlpanel>

<div class="playground">
  <div *ngFor="let x of sideLength" style="display:inline">
    <div class="row">
      <div *ngFor="let y of sideLength">
        <div class="col">
          <div
            class="cell"
            (click)="changeStatus(x, y)"
            [ngClass]="{ living: livingCells[x][y] }"
          >
            .
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<br />
<div class="alert alert-info" role="alert">
  <div style="text-align:center">
    Click on the <b>single cells</b> to inject life or use the
    <b>Inject Random Life</b> button to inject random life. Click
    <b>Start Evolution</b> to traverse through a lifecycle which follows these
    rules:
  </div>
  <br />
  <ul class="list" style="margin-left:25%">
    <li>
      Any live cell with fewer than two live neighbours dies, as if by
      underpopulation.
    </li>
    <li>
      Any live cell with two or three live neighbours lives on to the next
      generation.
    </li>
    <li>
      Any live cell with more than three live neighbours dies, as if by
      overpopulation.
    </li>
    <li>
      Any dead cell with exactly three live neighbours becomes a live cell, as
      if by reproduction.
    </li>
  </ul>
</div>
