<app-controlpanel
  (startEvolutionClicked)="onStartEvolutionClicked($event)"
  (randomLifeClicked)="onRandomLifeClicked($event)"
  (resizeClicked)="onResizeClicked($event)"
  [evolutionIsRunning]="evolutionIsRunning"
></app-controlpanel>

<div class="playground">
  <div *ngFor="let x of sideLength" style="display:inline">
    <div class="row">
      <div *ngFor="let y of sideLength">
        <div class="col">
          <div
            class="cell"
            (click)="changeStatus(x, y)"
            [ngClass]="{ living: livingCells[x][y] }"
          >
            .
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- (click)="changeStatus(x, y)"
[ngClass]="{ living: livingCells[x][y] }" -->
